@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --title-color: #000000;
  --text-color: #333333;
  --background-color: #ffffff;
  --button-color: #756257;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-color);
  background-color: var(--background-color);
}

.navigation-link {
  color: var(--title-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.intro {
  --background-color: #83B3D3;

  color: var(--text-color);
  background-image: url("../images/background-image/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* Стили для кнопок */

.button {
  color: var(--text-color);
  background-color: var(--button-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.button-small {
  font-size: 16px;
  line-height: 21px;
}

.button-main {
  --text-color: #ffffff;
}

.button-start {
  --text-color: #ffffff;
  --button-color: #83b3d3;
}

.button-active {
  --text-color: #ffffff;
  --button-color: #7db54f;
}

.button-reset {
  --text-color: #ffffff;
  --button-color: transparent;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}

/* Стили для содержимого main страницы index.html */

.advantages-item {
  background-color: var(--background-color);
}

.advantages-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: var(--title-color);
  text-transform: uppercase;
  text-align: center;
}

.advantages-subtitle {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.advantages-item-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item-text {
  color: var(--text-color);
  text-align: center;
}

.item-background-blue {
  --title-color: #ffffff;
  --text-color: #ffffff;
  --background-color: #83b3d3;
}

.advantages-features {
  --title-color: #000000;
  --text-color: #333333;
  --background-color: #ffffff;

  color: var(--text-color);
  background-color: var(--background-color);
}

.item-background-light-cold {
  --background-color: rgba(131, 179, 211, 0.12);

  background-color: var(--background-color);
}

.advantages-features-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-features-text {
  text-align: center;
}

.item-background-cold {
  --background-color: rgba(131, 179, 211, 0.2);
}

.search-hotels {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.search-hotels-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: var(--title-color);
  text-transform: uppercase;
}

.subscribe {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("../images/background-image/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-form {
  text-align: center;
}

/* Стили для footer */

.footer-contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: var(--title-color);
  text-align: center;
  text-decoration: none;
}

/* Стили для main страницы catalog.html */

.main-inner {
  line-height: 24px;
}

.inner-header {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("../images/background-image/catalog-background-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-block-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.filters-form-group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.control-label {
  font-size: 18px;
  line-height: 24px;
}

.results-found {
  color: var(--title-color);
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control {
  color: var(--text-color);
  background-color: transparent;
  font-size: 18px;
}

.hotel-card-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.hotel-card-price {
  font-weight: 400;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 21px;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.pagination-link {
  color: #ffffff;
  background-color: #83b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.pagination-current {
  color: var(--title-color);
  background-color: #f2f2f2;
}

.pagination-amount-select {
  color: var(--text-color);
  background-color: transparent;
  font-size: 18px;
}

.inner-subscribe .subscribe-heading {
  color: var(--title-color);
}
